<script>
    $(function () {
        $('#person2').validate({
            rules: {
                Name: "required"
            },
            messages: {
                Name: { required: "You are not cool." }
            },
            highlight: function (element, errorClass) {
                $(element).addClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            }
        });

        $("input").on('keydown', function (e) {
            if (e.keyCode == 13) {
                $('.btn').trigger('click');
            }
        });

        $('.btn').on('click', function () {
            if ($('#person').valid()) {
                $('#cool').hide();
                $('#notcool').hide();
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Home/Cool/")',
                    data: $('#person').serialize(),
                    success: function (data) {
                        if (data.cool) {
                            $('#cool').show();
                        }
                        else {
                            $('#notcool').show();
                        }
                        $('#wannabe').val('');
                        $('#wannabecool').hide();
                    },
                    error: function () {
                        alert('This error is not cool.');
                    }
                });
            }

        });
    });
</script>

<div class="coreyhallcontainer">
    <form id="person" onSubmit="return false;">
        <div class="row">
            <div class="col-4">
                <input name="Name" autocomplete="off" type="text" class="form-control text-uppercase" placeholder="First Name" />
            </div>

            <div class="col-4 mb-5">
                <button type="button" class="btn btn-success btn-block">Am I Cool?</button>
            </div>

            <div id="cool" class="col-12 collapse">
                <div class="col-12 text-success justify-content-center">
                    <h1>You are Cool!</h1>
                </div>
            </div>

            <div id="notcool" class="col-12 collapse justify-content-center mb-5">
                <div class="col-12 text-danger">
                    <h1>You are not cool.</h1>
                </div>
            </div>

            <div id="wannabecool" class="col-12 collapse">
                <div class="col-4">
                    <input name="CoolName" id="wannabe" autocomplete="off" type="text" class="form-control text-uppercase" placeholder="First Name" />
                </div>

                <div class="col-4">
                    <button type="button" class="btn btn-primary btn-block">I wanna be cool.</button>
                </div>
            </div>
        </div>
    </form>
</div>

